// Microsoft Visual C++ generated resource script.
//
#include <windows.h> 
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MONITORUI DIALOGEX 0, 0, 440, 240
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "port configuration"
FONT 8, "Tahoma", 0, 0, 0x1
BEGIN
    LTEXT           "Port name",ID_TEXT,3,3,220,8
    EDITTEXT        ID_EDTPORTNAME,3,12,220,14,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Output path",ID_TEXT,3,30,220,8
    EDITTEXT        ID_EDTOUTPUTPATH,3,39,220,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",ID_BTNBROWSE,226,39,14,14
    LTEXT           "Filename pattern",ID_TEXT,3,57,220,8
    EDITTEXT        ID_EDTFILEPATTERN,3,66,220,14,ES_AUTOHSCROLL
    PUSHBUTTON      "?",ID_BTNHELP,226,66,14,14
    CONTROL         "Overwrite existing files",ID_CHKOVERWRITE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,3,84,220,14
    LTEXT           "User command (%f = filename, %p = path)",ID_TEXT,3,102,220,8
    EDITTEXT        ID_EDTUSERCOMMAND,3,111,220,14,ES_AUTOHSCROLL
    PUSHBUTTON      "?",ID_BTNHELP2,226,111,14,14
    LTEXT           "Execute from",ID_TEXT,3,129,220,8
    EDITTEXT        ID_EDTCMDPATH,3,138,220,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",ID_BTNBROWSE2,226,138,14,14
    CONTROL         "Use pipe to send data to user command",ID_PIPEDATA,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,3,156,220,14
    CONTROL         "Wait process termination for",ID_CHKWAITTERMINATION,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,3,171,110,14
    EDITTEXT        ID_EDTTIMEOUT,115,171,45,14,ES_AUTOHSCROLL
    LTEXT           "sec.",ID_TEXT,167,175,20,8
    CONTROL         "Hide process",ID_HIDEPROCESS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,3,186,220,14
    LTEXT           "Run as user (or user@dns.domain.name)",ID_TEXT,253,30,177,8
    EDITTEXT        ID_EDTUSER,253,39,177,14,ES_AUTOHSCROLL
    LTEXT           "Domain (ignored if using user@dns.domain.name)",ID_TEXT,253,57,177,8
    EDITTEXT        ID_EDTDOMAIN,253,66,177,14,ES_AUTOHSCROLL
    LTEXT           "Password",ID_TEXT,253,84,177,8
    EDITTEXT        ID_EDTPASSWORD,253,93,177,14,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Log level",ID_TEXT,253,120,40,8
    COMBOBOX        ID_CBLOGLEVEL,298,117,88,14,CBS_DROPDOWNLIST | WS_TABSTOP
    DEFPUSHBUTTON   "Ok",IDOK,253,162,60,17
    PUSHBUTTON      "Cancel",IDCANCEL,331,162,60,17
    LTEXT           "MFILEMON Copyright ?2007-2023 Lorenzo Monti.",ID_TEXT,3,207,200,8
    LTEXT           "Released under the terms of the GNU General Public License.",ID_TEXT,3,215,200,8
    LTEXT           "See LICENSE.txt for details.",ID_TEXT,3,223,200,8
END

IDD_ADDPORTUI DIALOGEX 0, 0, 220, 125
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "new port name"
FONT 8, "Tahoma", 0, 0, 0x1
BEGIN
    LTEXT           "Port name",ID_TEXT,10,10,100,8
    EDITTEXT        ID_EDTPORTNAME,8,20,180,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Ok",IDOK,10,88,60,17
    PUSHBUTTON      "Cancel",IDCANCEL,120,88,60,17
    LTEXT           "BYPortMonitor Copyright ?2007-2025 JKEYI.",ID_TEXT,10,112,200,8
    LTEXT           "Real Printer name",ID_TEXT,10,43,100,8
    EDITTEXT        ID_EDTPRINTERNAME,8,56,180,14,ES_AUTOHSCROLL
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 1,6,2,531
 PRODUCTVERSION 1,6,2,531
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "Comments", "Released under the terms of the GNU General Public License"
            VALUE "CompanyName", "Lorenzo Monti"
            VALUE "FileDescription", "BYPortMonitorUI"
            VALUE "FileVersion", "1, 6, 2, 531"
            VALUE "InternalName", "BYPortMonitorUI"
            VALUE "LegalCopyright", "Copyright ?2007-2023 Lorenzo Monti"
            VALUE "OriginalFilename", "BYPortMonitorUI.DLL"
            VALUE "ProductName", "BYPortMonitor"
            VALUE "ProductVersion", "1, 6, 2, 531"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0, 
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ADDPORTUI, DIALOG
    BEGIN
        BOTTOMMARGIN, 108
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_ADDPORTUI AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

